@page "/"

<PageTitle>Desafio Balta</PageTitle>

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        text-align: center;
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
    }

    section {
        padding: 200px;
    }

    h2 {
        color: lightslategray;
    }

    p {
        color: lightslategray;
    }

    .dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1000px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

</style>



<div class="container">

    <section>

        <h2>Desafio Balta!</h2>
        <br>
        <br>
        <p>Seja bem-vindo ao Desafio Balta! Estamos empolgados por tê-lo conosco.</p>
        <p>Explore nosso site e aproveite todas as experiências que preparamos para você.</p>
    </section>

    <div class="stars"></div>
    <div class="stars2"></div>
</div>